/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Questrial", sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    color:  #F4F4F4;
    background-color: #2E4030;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.btn:hover {
    border: 2px solid #81C784;
    border: 2px solid #fff;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
}

.logo img{
    width: 40px;
    height: auto;
    margin-left: 10px;
}

.header-buttons {
    display: flex;
}

.secondary-btn {
    display: inline-block;
}

/* Secciones principales */
.main-grid {
    display: grid;
    grid-template-areas:
        "image1 welcome "
        "products image2";
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.welcome-section {
    grid-area: welcome;
    background-color: #FAF3E0;
    color: #333;
    order: 2;
    padding: 20px;
    border: 2px solid #34543A;
}

.welcome-title {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.welcome-title span {
    font-size: 30px;
    margin-right: 10px;
}

.image1-section {
    grid-area: image1;
    background-color: #f5f5f5;
    order: 1;
    overflow: hidden;
}

.image1-section img{
    max-width: 100%;
    height: auto;
}

.products-section {
    grid-area: products;
    background-color: #D9FFF5;
    color: #333;
    order: 3;
    padding: 20px;
    border: 2px solid #34543A;
}

.image2-section {
    grid-area: image2;
    background-color: #1d1e18;
    color: #F4F4F4;
    order: 4;
    text-align: center;
    font-size: 25px;
    border: 2px solid #34543A;
}

.image2-section img{
    max-width: auto;
    height: 90%;
    border-radius: 5%;
    border-right: 4px solid #3a3e49;
}

/* Adaptación a móvil */
@media (max-width: 768px) {
    .main-grid {
        grid-template-areas:
            "welcome"
            "image1"
            "products"
            "image2";
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
    
    .welcome-section {
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .image1-section {
        order: 2;
    }
    
    .products-section {
        order: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .image2-section {
        order: 4;
    }
    
    .secondary-btn {
        display: none;
    }
    
    .rating {
        display: none;
    }
}

.placeholder-img {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rating {
    color: #ffb400;
    margin-bottom: 10px;
}

/* Sección del equipo */
.team-section {
    margin-bottom: 30px;
    color: white;
}

.team-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #282828;
}

.team-card {
    border: 1px solid #34543A;
    border-radius: 8px;
    padding: 15px;
    background-color: #F0F0F0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text-cursiva {
    font-style: italic;
}

.team-title {
    display: flex;
    align-items: center;
    gap: 10px
}

.team-avatar {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%;
}

.team-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .team-section{
        margin-bottom: 0;
    }
    .team-cards {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .team-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0 40px;
    }

    .team-border {
        border: 2px solid #34543A;
        padding: 20px;
    }
    
    .team-title {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    .team-avatar {
        margin-bottom: 5px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .release-cards {
        flex-direction: column;
        align-items: center;
    }

    .release-card {
        width: 90%;
    }
}

/* Footer */
footer {
    background-color: #2E4030;
    color: #F4F4F4;
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #A5D6A7;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.footer-top a {
    color: #A5D6A7;
    text-decoration: none;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 20px;
    height: auto;
}

.copyright {
    font-size: 0.8rem;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
}

/* Animación Sencilla */
.welcome-section:hover, .image1-section:hover, .products-section:hover, .image2-section:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.team-avatar:hover {
    transform: scale(2.0) translateY(-3px);
    box-shadow: 0 20px 24px rgba(0, 0, 0, 0.3);
    border-radius: 50%;
}

/* Proximos Lanzamientos */
.releases-section {
    padding: 30px 15px;
    background-color: #FAF3E0;
    color: #333;
    text-align: center;
    border-top: 3px solid #3b3a49;
    border-bottom: 3px solid #3b3a49;
}

.releases-section h2 {
    margin-bottom: 20px;
    color: #3b3a49;
}

.release-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.release-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 250px;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    text-align: left;
}

.release-card:hover {
    transform: translateY(-5px);
}

.release-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.release-card h4 {
    margin-bottom: 8px;
    color: #3b3a49;
}

.release-card p {
    font-size: 0.95rem;
    color: #444;
}